h1{
	margin : 0.5em 10% 0.5em 10%;
	color : #99cc00;
	background : #d9ffd9;
}

h2{
	margin : 0.5em 10% 0.5em 10%;
	color : #d9ffd9;
	background : #99cc00;
}

p{
	margin : 0.5em 10% 0.5em 10%;
	color : #333333;
	background : #d9ffd9;
}